<div>
  <h2 mat-dialog-title style="text-align: left" *ngIf="addMode == true">Add Employee Details</h2>
  <h2 mat-dialog-title style="text-align: left" *ngIf="addMode != true">Edit Employee Details</h2>
  <div mat-dialog-content>
    <mat-form-field appearance="outline" [style.width.px]=350>
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="nameInput" placeholder="Enter Name" [formControl]="nameValidation" required>
        <mat-error *ngIf="nameValidation.invalid">{{getNameErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" [style.width.px]=350>
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="emailInput" placeholder="Enter Email" [formControl]="emailValidation" required>
        <mat-error *ngIf="emailValidation.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
  </div>
  <div mat-dialog-actions align="end">
    <button (click)="close()" mat-flat-button>Cancel</button>
    <button mat-flat-button [color]="'primary'" (click)="onOkClick()">Save</button>
  </div>
</div>